<div class="text-center">
  <%= image_tag @post.image.url(:medium) %>
</div>
<div class="form-wrapper">
  <%= simple_form_for @post, html: { class: 'form-horizontal', multipart: true } do |f| %>
    <div class="text-center edit-links">
      <%= render :partial => "form" %>
      <% if @post.user.id == current_user.id %>
        <div class="text-center edit-links">
          <%= link_to "Cancel", posts_path %>
          |
          <%= link_to "Edit Post", edit_post_path(@post) %>
        </div>
      <% else %>
        <div class="text-center edit-links">
          <%= link_to "Cancel", posts_path %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
